<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
    <h1>Change Password</h1>
    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
    {% endfor %}
    <form action="" method="post">
        <label for="updatedAcctPW">Enter Password:</label><br>
        <input type="password" id="updatedAcctPW" name="updatedAcctPW" placeholder=""><br><br>
        <label for="confirmUpdatedAcctPW">Confirm Password:</label><br>
        <input type="password" id="confirmUpdatedAcctPW" name="confirmUpdatedAcctPW" placeholder=""><br><br>
        <input type="submit" value="Submit">
    </form><br>
</body>
</html>