<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose Password</title>
</head>
<body>
    <h1>Choose Password</h1>
    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
    {% endfor %}
    <form action="" method="post">
        <label for="newAcctPW">Enter Email:</label><br>
        <input type="password" id="newAcctPW" name="newAcctPW" placeholder=""><br><br>
        <label for="confirmEmail">Enter Email:</label><br>
        <input type="password" id="confirmEmail" name="confirmEmail" placeholder=""><br><br>
        <input type="submit" value="Submit">
    </form><br>
</body>
</html>