<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
</head>
<body>
    <h1>Create Account</h1>
    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
    {% endfor %}
    <form action="" method="post">
        <label for="newAcctEmail">Enter Email:</label><br>
        <input type="text" id="newAcctEmail" name="newAcctEmail" placeholder="Email"><br><br>
        <input type="submit" value="Verify">
    </form><br>
</body>
</html>